.nav{
    list-style: none;
}
.nav>li>a{
    /* next style is to remove underline from the line, ctrl k+c ctrl k+u */
    text-decoration: none;
    background-color: lightcyan;
    border: solid 2px black;
    border-radius: 5px 0px 5px;
    padding: 5px;
}
.nav>li{
    float: left;
    margin-right: 10px;
    

}

.nav>li>a:hover{
    background-color: lightcoral;
    font-size: 20px;
    border: solid 2px red;
    box-shadow: 5px 5px 5px green;
    
    
}

.subnav{
    list-style-type: none;
    padding: 0px;
    background-color: antiquewhite;
    border: solid 1px black;
    display: none;
}
/* you can reemplace .nav>li>ul */
.subnav>li>a{
    text-decoration: none;   
}

.subnav>li{
    margin-bottom: 10px;
}
.nav>li:hover>.subnav{
    display: block;
}